<%- include('../partials/header') %>

<main>
    <h1>This is the Follow Ups index page.</h1>

    <section>
        <% follows.forEach(follow => { %>
        
            <section>
                Title: <%=follow.follow_title %><br>
                Priority: <%=follow.follow_priority%><br>
                Complete On: <%=follow.follow_scheduled_date%><br>
                Details: <%=follow.follow_detail.length < 25 ? follow.follow_detail : follow.follow_detail.substring(0,24) + '...'%><br>
                Complete: <%=follow.follow_done ? 'Yes' : 'No'%><br>
                <a class='app-detail-view-link' href='/follows/<%=follow._id%>'>View Full Details</a>
            </section><br><br>

        <% }) %>
    </section>

</main>

<%- include('../partials/footer') %>