<%- include('../partials/header') %>

<main>
    <h1>This is the Follow Ups Show page.</h1>

    <section>
        
            <section class='follow-priority-<%=follow.follow_priority%>'>
                Title: <%=follow.follow_title %><br>
                Priority: <%=follow.follow_priority%><br>
                Complete On: <%=follow.follow_scheduled_date%><br>
                Details: <%=follow.follow_detail%><br>
                Complete: <%=follow.follow_done ? 'Yes' : 'No'%><br>
                follow_id: <%=follow._id%>
                <a href='/follows/<%=follow._id%>/update'>Edit Details</a>
            </section><br><br>
            <a href='/follows'>Return to Follow-Ups Page</a>
    </section>

</main>

<%- include('../partials/footer') %>