<%- include('../partials/header-top') %>
<%- include('../partials/header-bottom') %>

<main>
    
    <section class='follow-priority-<%=follow.follow_priority%>'>
        <fieldset class='index-job-listing'>
            <legend>Follow-Up Detailed View</legend>
        Title: <%=follow.follow_title %><br><br>
        Priority: <%=follow.follow_priority%><br><br>
        Complete On: <%=follow.follow_scheduled_date.toDateString()%><br><br>
        Details: <%=follow.follow_detail%><br><br>
        Complete: <%=follow.follow_done ? 'Yes' : 'No'%><br>    
    </fieldset>            
        <form action='/follows/<%=follow._id%>/update' method="GET">
            <button class='edit-delete-button'>Edit Follow-Up</button>
        </form>
        <form action='/follows/<%=follow._id%>?_method=DELETE' method="POST">
            <button class='edit-delete-button'>Delete Follow-Up</button>
        </form>
    </section><br><br>

</main>

<%- include('../partials/footer') %>