<%- include('../partials/header') %>

<main>
    <a href='/follows'>Link to Follow-Ups Page</a>
    <h1>This is the applications index page.</h1>
    <a href='/applications/new'>Click to log a new application.</a>

    <section>
        <% applications.forEach(appl => { %>
        
            <section>
                Company: <%=appl.appl_company %><br>
                Job Title: <%=appl.appl_jobTitle%><br>
                Job Id: <%=appl.appl_jobId%><br>
                <a href='/applications/<%=appl._id%>'>View Details</a>
            </section><br><br>

        <% }) %>
    </section>

</main>

<%- include('../partials/footer') %>