<%- include('../partials/header') %>

<main>
    <h1>This is the application detail page.</h1>
    
        
            <section>
                Company: <%=application.company%><br><br>
                Job Title: <%=application.jobTitle%><br><br>
                JobID: <%=application.jobId%><br><br>
                <a href='/applications'>Return to All Applications</a>
            </section>
    

</main>

<%- include('../partials/footer') %>