<%- include('../partials/header') %>

<main>
    <h1>This is the application detail page.</h1>
    
        
            <section>
                Company: <%=application.company%><br><br>
                Job Title: <%=application.jobTitle%><br><br>
                JobID: <%=application.jobId%><br><br>
                
                <form action='/applications/<%=application._id%>?_method=DELETE' method='POST'>
                    <input type='submit' value='Delete Application'>
                </form>

                <a href='/applications/<%=application._id%>/update'>Edit Details</a>
                <br>
                
                <a href='/applications'>Return to All Applications</a>
            </section>
            

            <section>
                <%# use ejsif - if there are follow-ups scheluled (done or otherwise), render them %>
                <%# else render text 'no follow-ups scheduled' %> 
            </section>
    

</main>

<%- include('../partials/footer') %>