<%- include('../partials/header') %>

<main>
    <h1>This is the application detail page.</h1>
    
            <section>
                <fieldset>
                    <legend>Application Details</legend>
                Company: <%=application.appl_company%><br><br>
                Job Title: <%=application.appl_jobTitle%><br><br>
                JobID: <%=application.appl_jobId%><br><br>
                
                <form action='/applications/<%=application._id%>?_method=DELETE' method='POST'>
                    <input type='submit' value='Delete Application'>
                </form>
                <form action='/applications/<%=application._id%>/update' method="GET">
                    <button>Edit Details</button>
                </form>
            </fieldset>
            </section>
                <br>
                
                <a href='/applications'>Return to All Applications</a>
            
            
            <a href='/applications/<%=application._id%>/new-follow-up'>Add a Follow-Up</a>
    

</main>

<%- include('../partials/footer') %>