<%- include('../partials/header-top') %>
<link rel="stylesheet" href="/stylesheets/applications/show.css" />
<%- include('../partials/header-bottom') %>

<main>
    <div id='job-information'>
        <h2>Application Details</h2>
        <section class='job-listing'>
                
            <span class='heading'>Company:</span> <%=application.appl_company %><br>
            <span class='heading'>Job Title:</span> <%=application.appl_jobTitle%><br>
            <span class='heading'>Job Id:</span> <%=application.appl_jobId%><br>
            
            <form action='/applications/<%=application._id%>?_method=DELETE' method='POST'>
                <input class='edit-delete-button' type='submit' value='Delete Application'>
            </form>
            <form action='/applications/<%=application._id%>/update' method="GET">
                <button class='edit-delete-button'>Edit Details</button>
            </form>

        </section>
        <br>
        
        <a class='larger-link' href='/applications'>Return to All Applications</a><br>
        
        <a class='larger-link' href='/applications/<%=application._id%>/new-follow-up'>Add a Follow-Up</a>
    </div>
    <div id='follow-ups'>
        <h2>Follow Ups</h2>
        <% application.appl_follows.forEach(follow => { %>
            <section class='follow-up'>
                <h3><%= follow.follow_title %> </h3>
                <h3><%= follow.follow_done ? 'Complete' : 'Not Complete' %></h3>
                <h3><%= follow.follow_detail %> </h3>
            </section>
        <% }) %>
    </div>
</main>

<%- include('../partials/footer') %>